* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Livvic", sans-serif;
}

.flexible-action {
  display: flex;
}

.half-width {
  width: 50%;
  margin-left: 7%;
  margin-right: 7%;
}

.half-width img {
  width: 100%;
}

.half-width h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 150px;
  color: #333;
}

.highlight-text {
  color: red;
}

.half-width p {
  font-size: 20px;
  margin-top: 10px;
}

.btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, red, brown);
  padding: 20px 40px;
  border-radius: 35px;
  color: white;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 700;
}

.btn:hover {
  background: linear-gradient(45deg, brown, red);
}

.top-backdrop {
  height: 100vh;
  background-image: url(images/food-cover-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Header Section End*/
.half-width h2 {
  font-size: 50px;
}
.about-cover-bg {
  height: 100vh;
  background-image: url(images/about-cover-bg.png);
  background-size: cover;
}

/*Recipies Section Start*/

.recipies-section {
  margin-top: 50px;
  margin-bottom: 160px;
}

.recipies-section h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.recipies-description {
  font-size: 20px;
  text-align: center;

  margin-bottom: 40px;
  margin-left: 400px;
  margin-right: 400px;
}

#pepperoni {
  margin-left: 10%;
  margin-right: 2.5%;
}

#rich-salami {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#delectable-ham {
  margin-left: 2.5%;
  margin-right: 10%;
}

.recipe {
  box-shadow: 0px 0px 40px rgb(212, 208, 208);
  padding: 25px;
  border-radius: 35px;
}

.recipe img {
  width: 100%;
}

.recipe h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.recipe p {
  font-size: 20px;
}

/*customer review section start*/

.review-section {
  margin-bottom: 150px;
}

#customer-1 {
  margin-left: 10%;
  margin-right: 2.5%;
}

#customer-2 {
  margin-left: 2.5;
  margin-right: 2.5%;
}

#customer-3 {
  margin-left: 2.5;
  margin-right: 2.5%;
}

#customer-4 {
  margin-left: 2.5;
  margin-right: 10%;
}

.review-width {
  width: 100%;
}

.review-width img {
  width: 40%;
}

.review-width h4 {
  margin-bottom: 10px;
}

.review-width p {
  font-size: 15px;
}

.customer-name {
  font-size: 10px;
  color: red;
}

/*Subscribe Section Start*/

.subscribe-section {
  background-color: rgb(250, 214, 8);
  padding: 70px 70px;
}

#sub-news {
  margin-left: 10%;
  margin-right: 5%;
}

#sub-news h5 {
  font-size: 30px;
  color: #333;
}

#sub-news p {
  font-size: 15px;
  color: rgb(48, 48, 45);
  margin-bottom: 10px;
}

.sub-email {
  width: 375px;
  height: 50px;
  border-radius: 25px;
  border-color: rgb(253, 2, 2);
  font-size: 16px;
}

/*placeholder css padding & style*/

::placeholder {
  text-indent: 20px;
  color: rgb(215, 216, 216);
}

.sub-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, red, brown);
}

.checkbox {
  width: 25px;
  height: 25px;
  border-radius: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

#sub-catalog {
  width: 100%;
  height: 250px;
  background-image: url(images/catalog-bg.png),
    linear-gradient(rgba(252, 251, 251, 0.842), rgba(250, 250, 250, 0.89));
  background-blend-mode: overlay;
  text-align: center;
  padding-top: 7%;
  border-radius: 25px;
  box-shadow: 0px 7px 40px rgb(204, 202, 202);
}

#sub-catalog h5 {
  font-size: 30px;
  color: #333;
}

#sub-catalog a {
  margin-right: 10px;
  text-decoration: none;
  color: red;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/*footer start*/

.footer-bg {
  background: linear-gradient(147deg, #c62128 0%, #a00000 74%);
  text-align: center;
  height: 400px;
}
.footer-text {
  background-image: url(images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 140px;
}

footer h6 {
  font-size: 40px;
}

footer .highlight-text {
  color: white;
}

footer p {
  margin-top: 30px;
  color: white;
}
